# Rust
/target/
**/*.rs.bk
Cargo.lock.bak

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
*.egg-info/
.eggs/
build/
dist/
wheelhouse/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
htmlcov/

# Virtualenvs
.venv/
.env/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Maturin
*.whl

# Vendored BoringSSL build artifacts
vendor/boringssl/build/
